<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>

  <body>
    <h1 class="title">health computer</h1>
    <div class="main">
      <form class="form">
        <div class="mb-3 row">
          <label for="gender" class="col-3 col-form-label">Gender</label>
          <div class="col-8">
            <select id="gender" class="form-select">
              <option value="1">male</option>
              <option value="2">female</option>
            </select>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="age" class="col-3 col-form-label">Age</label>
          <div class="col-8">
            <input type="number" class="form-control" id="age" />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="height" class="col-3 col-form-label">Height</label>
          <div class="col-8">
            <input type="number" class="form-control" id="height" />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="weight" class="col-3 col-form-label">Weight</label>
          <div class="col-8">
            <input type="number" class="form-control" id="weight" />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="active" class="col-3 col-form-label"
            >Activity Level</label
          >
          <div class="col-8">
            <select id="active" class="form-select">
              <option value="1.2">no exercise</option>
              <option value="1.375">exercise 1-3 days a week</option>
              <option value="1.55">exercise 4-5 days a week</option>
              <option value="1.725">exercise 6-7 days a week</option>
              <option value="1.9">in motion all the time</option>
            </select>
          </div>
        </div>
        <div class="text-danger mb-3" id="error"></div>
        <button type="button" class="btn btn-dark" (click)="calculateBMI()">
          Start calculate
        </button>
      </form>
      <div class="result">
        <div class="result_text">
          <p>
            Body Mass Index(BMI) <span>{{ newBmi }} ({{ newBmiText }})</span>
          </p>
          <hr />
          <p>
            Basal Metabolic Rate (BMR) <span>{{ newBmr }}</span>
          </p>
          <hr />
          <p>
            Total daily caloric expenditure (TDEE) <span>{{ newTdee }}</span>
          </p>
        </div>
      </div>
    </div>
    <div id="bcl">
      <a
        style="font-size: 8pt; text-decoration: none"
        href="http://www.devanswer.com"
        >Free Frontend</a
      >
    </div>
  </body>
  <!-- ใน HTML template -->
</html>
