<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutrition</title>
    <link rel="stylesheet" href="nutrition.component.css"> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="accordion" id="accordionExample">
        <h2>Fruits</h2>
        <div class="accordion-item" *ngFor="let menuItem of fruits" (click)="onSelectMenuItem(menuItem)">
            <h3 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" 
                        [attr.data-bs-target]="'#collapse-' + menuItem.name" aria-expanded="true"
                        [attr.aria-controls]="'collapse-' + menuItem.name">
                    <img [src]="'assets/pic/' + menuItem.image" alt="{{ menuItem.name }}" width="50" height="50">
                    {{ menuItem.name }}
                </button>
            </h3>
            <div [id]="'collapse-' + menuItem.name" class="accordion-collapse collapse" 
                 [ngClass]="{'show': selectedMenuItem && selectedMenuItem === menuItem}" 
                 aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Serving Size (g):</strong> {{ menuItem.servingSize }}<br>
                    <strong>Total Calories:</strong> {{ menuItem.totalCalories }}<br>
                    <strong>Calories from Fat:</strong> {{ menuItem.caloriesFromFat }}<br>
                    <strong>Total Fat (g):</strong> {{ menuItem.totalFat }}<br>
                    <strong>Saturated Fat (g):</strong> {{ menuItem.saturatedFat }}<br>
                    <strong>Trans Fat (g):</strong> {{ menuItem.transFat }}<br>
                    <strong>Cholesterol (mg):</strong> {{ menuItem.cholesterol }}<br>
                    <strong>Sodium (mg):</strong> {{ menuItem.sodium }}<br>
                    <strong>Total Carbohydrates (g):</strong> {{ menuItem.totalCarbohydrates }}<br>
                    <strong>Dietary Fiber (g):</strong> {{ menuItem.dietaryFiber }}<br>
                    <strong>Sugars (g):</strong> {{ menuItem.sugars }}<br>
                    <strong>Protein (g):</strong> {{ menuItem.protein }}
                </div>
            </div>
        </div>

        <h2>Vegetables</h2>
        <div class="accordion-item" *ngFor="let menuItem of vegetables" (click)="onSelectMenuItem(menuItem)">
            <h3 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" 
                        [attr.data-bs-target]="'#collapse-' + menuItem.name" aria-expanded="true"
                        [attr.aria-controls]="'collapse-' + menuItem.name">
                    <img [src]="'assets/pic/' + menuItem.image" alt="{{ menuItem.name }}" width="50" height="50">
                    {{ menuItem.name }}
                </button>
            </h3>
            <div [id]="'collapse-' + menuItem.name" class="accordion-collapse collapse" 
                 [ngClass]="{'show': selectedMenuItem && selectedMenuItem === menuItem}" 
                 aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Serving Size (g):</strong> {{ menuItem.servingSize }}<br>
                    <strong>Total Calories:</strong> {{ menuItem.totalCalories }}<br>
                    <strong>Calories from Fat:</strong> {{ menuItem.caloriesFromFat }}<br>
                    <strong>Total Fat (g):</strong> {{ menuItem.totalFat }}<br>
                    <strong>Saturated Fat (g):</strong> {{ menuItem.saturatedFat }}<br>
                    <strong>Trans Fat (g):</strong> {{ menuItem.transFat }}<br>
                    <strong>Cholesterol (mg):</strong> {{ menuItem.cholesterol }}<br>
                    <strong>Sodium (mg):</strong> {{ menuItem.sodium }}<br>
                    <strong>Total Carbohydrates (g):</strong> {{ menuItem.totalCarbohydrates }}<br>
                    <strong>Dietary Fiber (g):</strong> {{ menuItem.dietaryFiber }}<br>
                    <strong>Sugars (g):</strong> {{ menuItem.sugars }}<br>
                    <strong>Protein (g):</strong> {{ menuItem.protein }}
                </div>
            </div>
        </div>
        
        <h2>Meat</h2>
        <div class="accordion-item" *ngFor="let menuItem of meats" (click)="onSelectMenuItem(menuItem)">
          <h3 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" 
                [attr.data-bs-target]="'#collapse-' + menuItem.name" aria-expanded="true"
                [attr.aria-controls]="'collapse-' + menuItem.name">
            <img [src]="'assets/pic/' + menuItem.image" alt="{{ menuItem.name }}" width="50" height="50">
            {{ menuItem.name }}
          </button>
    </h3>
    <div [id]="'collapse-' + menuItem.name" class="accordion-collapse collapse" 
         [ngClass]="{'show': selectedMenuItem && selectedMenuItem === menuItem}" 
         aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <strong>Serving Size (g):</strong> {{ menuItem.servingSize }}<br>
            <strong>Total Calories:</strong> {{ menuItem.totalCalories }}<br>
            <strong>Calories from Fat:</strong> {{ menuItem.caloriesFromFat }}<br>
            <strong>Total Fat (g):</strong> {{ menuItem.totalFat }}<br>
            <strong>Saturated Fat (g):</strong> {{ menuItem.saturatedFat }}<br>
            <strong>Trans Fat (g):</strong> {{ menuItem.transFat }}<br>
            <strong>Cholesterol (mg):</strong> {{ menuItem.cholesterol }}<br>
            <strong>Sodium (mg):</strong> {{ menuItem.sodium }}<br>
            <strong>Total Carbohydrates (g):</strong> {{ menuItem.totalCarbohydrates }}<br>
            <strong>Dietary Fiber (g):</strong> {{ menuItem.dietaryFiber }}<br>
            <strong>Sugars (g):</strong> {{ menuItem.sugars }}<br>
            <strong>Protein (g):</strong> {{ menuItem.protein }}
          </div>
        </div>
      </div>
    </div>


    <!-- Bootstrap Bundle with Popper -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
