/* Additional CSS styles for a modern, beautiful, and healthy theme */

/* Body styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f3f3f3; /* Set background color to a lighter grey */
  margin: 0;
  padding: 0;
}

/* Header styles */
h2 {
  font-size: 32px !important; /* Increase font size for headers */
  color: #2e8b57 !important; /* Set header text color to a dark green */
  margin-bottom: 20px !important; /* Reduce bottom margin for headers */
  margin-top: 40px !important; /* Increase top margin for headers */
  padding-left: 20px;
}

/* Fruits, Vegetables, and Meat sections */
.accordion-item {
  margin-bottom: 20px; /* Reduce bottom margin for accordion items */
}

/* Customize Bootstrap accordion button style */
.accordion-button {
  background-color: #5cb85c; /* Change accordion button background color to a fresh green */
  color: #ffffff; /* Text color for accordion buttons - white */
  border: none;
  border-radius: 8px; /* Reduce border radius */
  padding: 15px 25px; /* Reduce padding for accordion buttons */
  width: 100%;
  text-align: left;
  font-size: 18px; /* Reduce font size for accordion buttons */
  transition: background-color 0.3s; /* Smooth transition on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow for depth effect */
}

.accordion-button:focus {
  outline: none;
}

.accordion-button:hover {
  background-color: #4cae4c; /* Darken accordion button color on hover */
}

/* Customize Bootstrap accordion body style */
.accordion-body {
  padding: 20px; /* Reduce padding for accordion body */
  background-color: #ffffff; /* Change accordion body background color to white */
  border-radius: 8px;
}

/* Additional styles for nutrition facts */
.accordion-body strong {
  color: #2e8b57; /* Set color for strong elements within accordion body */
}

.accordion-body img {
  margin-right: 10px; /* Add margin to images within accordion body */
}

/* Additional styles for improved readability */
p {
  line-height: 1.6; /* Increase line height for better readability */
}

/* Additional styles for improved accessibility */
button {
  cursor: pointer; /* Change cursor to pointer for better accessibility */
}
