.workout-container {
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start;
    padding: 20px;
}

.workout-info {
    flex: 1;
}

.menu {
    flex: 0 0 200px;
    background-color: #f4f4f4;
    padding: 20px;
}

.menu h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.filter {
    margin-bottom: 20px;
}

.filter select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.btn-primary {
    background-color: transparent !important; /* เปลี่ยนสีพื้นหลังเป็นโปร่งใส */
    color: transparent !important; /* ซ่อนข้อความ */
}



.chest-btn, .abdomen-btn, .back-btn {
    color: transparent; 
    border: none; 
    background-color: transparent; 
    font-size: 0; /* ซ่อนข้อความ */
    background-color: transparent; /* เพิ่มสีพื้นหลังโปร่งใส */
}

.chest-btn:hover::before, .abdomen-btn:hover::before, .back-btn:hover::before {
    background-color: rgba(255, 0, 0, 0.3); /* เปลี่ยนสีพื้นหลังเป็นแดงโปร่งใสเมื่อโฮเวอร์ */
}

.chest-btn::before, .abdomen-btn::before, .back-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0); 
    transition: background-color 0.3s ease-in-out; 
    z-index: -1;
}

.chest-btn {
    position: absolute;
    top: 360px; 
    left: 211px;
    width: 140px;
    height: 73px;
    z-index: 1; 
}

.abdomen-btn {
    position: absolute;
    top: 433px; 
    left: 206px;
    width: 151px;
    height: 179px;
    z-index: 1; 
}

.back-btn {
    position: absolute;
    top: 330px; 
    right: 860px;
    width: 140px;
    height: 230px;
    z-index: 1; 
}

.body-image {
    max-width: 70%;
    transition: opacity 0.3s ease-in-out;
    position: relative;
}
