<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        header.masthead {
            background-image: url('assets/pic/thin.jpg');
        }
    </style>
    <link href="../article-content/article-content.component.css" rel="stylesheet" />
</head>

<body>
    <header class="masthead">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1>คุณผอมเกินไปแล้ว</h1>
                        <h2 class="subheading">ร่วมกันแก้ไขปัญหาของคุณ</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Post Content-->
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h2 class="section-heading">คนผอม</h2>
                    <p>เป็นปัญหาที่รบกวนจิตใจของใครหลายคน ซึ่งการมีน้ำหนักตัวตํ่ากว่ามาตรฐาน
                        ไม่ได้ส่งผลต่อรูปร่างของเราเท่านั้น แต่ยังส่งผลเสียต่อสุขภาพ
                        เพราะคนผอมเป็นสาเหตุของโรคร้ายแรงหลายโรค ไขมันในเลือดสูง ความดันโลหิตสูง โรคหัวใจ โรคหลอดเลือดสมอง ฯลฯ
                        ดังนั้นการเริ่มต้นเพิ่มน้ำหนักและหันมาดูแลสุขภาพตั้งแต่วันนี้จึงเป็นเรื่องสำคัญ
                    คุณสามารถหาข้อมูลเกี่ยวกับการออกกำลังกาย โภชนาการ และการคำนวณเบื้องต้นได้ภายในเว็บไซต์ของเรา</p>
                    
                </div>
            </div>
        </div>
    </article>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>